body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* stop native scroll */
  font-family: 'Arial', sans-serif;
  background-color: #9066c5;
}

.app {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.mosaic-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}